In [1]:
!pip install scipy==1.7.3
!pip install numpy==1.23.5
!pip install pandas==1.5.3
!pip install lightgbm==3.3.2
!pip install catboost==1.2
!pip install xgboost==1.7.6
!pip install sklearn==1.2.2

Collecting scipy==1.7.3
  Downloading scipy-1.7.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (39.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.9/39.9 MB 25.6 MB/s eta 0:00:00
Collecting numpy<1.23.0,>=1.16.5 (from scipy==1.7.3)
  Downloading numpy-1.22.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.8/16.8 MB 55.1 MB/s eta 0:00:00
Installing collected packages: numpy, scipy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.5
    Uninstalling numpy-1.23.5:
      Successfully uninstalled numpy-1.23.5
  Attempting uninstall: scipy
    Found existing installation: scipy 1.11.1
    Uninstalling scipy-1.11.1:
      Successfully uninstalled scipy-1.11.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
apache-beam 2.46.0 requires dill<0.3.2,>=0.3.1.1, but you have dill 0.3.6 which is incompatible.
chex 0.1.81 requires numpy>=1.25.0, but you have numpy 1.22.4 which is incompatible.
momepy 0.6.0 requires shapely>=2, but you have shapely 1.8.5.post1 which is incompatible.
pointpats 2.3.0 requires scipy>=1.8.0, but you have scipy 1.7.3 which is incompatible.
pymc3 3.11.5 requires numpy<1.22.2,>=1.15.0, but you have numpy 1.22.4 which is incompatible.
scikit-image 0.21.0 requires scipy>=1.8, but you have scipy 1.7.3 which is incompatible.
Successfully installed numpy-1.22.4 scipy-1.7.3
Collecting numpy==1.23.5
  Downloading numpy-1.23.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 53.7 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.4
    Uninstalling numpy-1.22.4:
      Successfully uninstalled numpy-1.22.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
apache-beam 2.46.0 requires dill<0.3.2,>=0.3.1.1, but you have dill 0.3.6 which is incompatible.
chex 0.1.81 requires numpy>=1.25.0, but you have numpy 1.23.5 which is incompatible.
momepy 0.6.0 requires shapely>=2, but you have shapely 1.8.5.post1 which is incompatible.
pointpats 2.3.0 requires scipy>=1.8.0, but you have scipy 1.7.3 which is incompatible.
pymc3 3.11.5 requires numpy<1.22.2,>=1.15.0, but you have numpy 1.23.5 which is incompatible.
scikit-image 0.21.0 requires scipy>=1.8, but you have scipy 1.7.3 which is incompatible.
scipy 1.7.3 requires numpy<1.23.0,>=1.16.5, but you have numpy 1.23.5 which is incompatible.
Successfully installed numpy-1.23.5
Requirement already satisfied: pandas==1.5.3 in /opt/conda/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas==1.5.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas==1.5.3) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas==1.5.3) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas==1.5.3) (1.16.0)
Requirement already satisfied: lightgbm==3.3.2 in /opt/conda/lib/python3.10/site-packages (3.3.2)
Requirement already satisfied: wheel in /opt/conda/lib/python3.10/site-packages (from lightgbm==3.3.2) (0.40.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from lightgbm==3.3.2) (1.23.5)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from lightgbm==3.3.2) (1.7.3)
Requirement already satisfied: scikit-learn!=0.22.0 in /opt/conda/lib/python3.10/site-packages (from lightgbm==3.3.2) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.2) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.2) (3.1.0)
Collecting numpy (from lightgbm==3.3.2)
  Using cached numpy-1.22.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.5
    Uninstalling numpy-1.23.5:
      Successfully uninstalled numpy-1.23.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
apache-beam 2.46.0 requires dill<0.3.2,>=0.3.1.1, but you have dill 0.3.6 which is incompatible.
chex 0.1.81 requires numpy>=1.25.0, but you have numpy 1.22.4 which is incompatible.
momepy 0.6.0 requires shapely>=2, but you have shapely 1.8.5.post1 which is incompatible.
pointpats 2.3.0 requires scipy>=1.8.0, but you have scipy 1.7.3 which is incompatible.
pymc3 3.11.5 requires numpy<1.22.2,>=1.15.0, but you have numpy 1.22.4 which is incompatible.
scikit-image 0.21.0 requires scipy>=1.8, but you have scipy 1.7.3 which is incompatible.
Successfully installed numpy-1.22.4
Requirement already satisfied: catboost==1.2 in /opt/conda/lib/python3.10/site-packages (1.2)
Requirement already satisfied: graphviz in /opt/conda/lib/python3.10/site-packages (from catboost==1.2) (0.20.1)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (from catboost==1.2) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from catboost==1.2) (1.22.4)
Requirement already satisfied: pandas>=0.24 in /opt/conda/lib/python3.10/site-packages (from catboost==1.2) (1.5.3)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from catboost==1.2) (1.7.3)
Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (from catboost==1.2) (5.15.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from catboost==1.2) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24->catboost==1.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24->catboost==1.2) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->catboost==1.2) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib->catboost==1.2) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->catboost==1.2) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->catboost==1.2) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->catboost==1.2) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->catboost==1.2) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->catboost==1.2) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly->catboost==1.2) (8.2.2)
Requirement already satisfied: xgboost==1.7.6 in /opt/conda/lib/python3.10/site-packages (1.7.6)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from xgboost==1.7.6) (1.22.4)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from xgboost==1.7.6) (1.7.3)
ERROR: Could not find a version that satisfies the requirement sklearn==1.2.2 (from versions: 0.0, 0.0.post1, 0.0.post2, 0.0.post4, 0.0.post5, 0.0.post7)
ERROR: No matching distribution found for sklearn==1.2.2

In [2]:
import scipy
import numpy
import pandas
import lightgbm
import catboost
import xgboost
import sklearn
print(scipy.__version__)
print(numpy.__version__)
print(pandas.__version__)
print(lightgbm.__version__)
print(catboost.__version__)
print(xgboost.__version__)
print(sklearn.__version__)

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

1.7.3
1.23.5
1.5.3
3.3.2
1.2
1.7.6
1.2.2

In [3]:
import os
import warnings
import statistics
import numpy as np
import pandas as pd
import seaborn as sns
from tqdm import tqdm
import lightgbm as lgbm
from scipy import stats
from scipy.stats import hmean,gmean
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import HistGradientBoostingClassifier,RandomForestClassifier,BaggingClassifier,ExtraTreesClassifier
from sklearn.metrics import f1_score
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split,KFold,StratifiedKFold,GroupKFold
pd.set_option('display.max_columns', 500)
warnings.filterwarnings("ignore")

In [4]:
version_nb = 'v7_kaggle'

In [5]:
df_meta_train = pd.read_csv('/kaggle/input/fia-zindi-kp-data-creation/train.csv',parse_dates=['endTime'])
df_meta_test = pd.read_csv('/kaggle/input/fia-zindi-kp-data-creation/test.csv',parse_dates=['endTime'])
df_ss = pd.read_csv('/kaggle/input/fia-zindi-kp-data-creation/sample_submission.csv')
df_meta_test.sort_values(['ID','endTime'],ascending=True,ignore_index=True,inplace=True)
df_meta_train.sort_values(['ID','endTime'],ascending=True,ignore_index=True,inplace=True)
print(df_meta_train.shape, df_meta_test.shape, df_ss.shape)
display(df_meta_train.head(1))
display(df_meta_test.head(1))
display(df_ss.head(1))

(908922, 12) (175150, 12) (1932, 2)

,ID,NE ID,endTime,access_success_rate,resource_utilition_rate,TA,bler,cqi,mcs,data_rate,fault_duration,relation
0,B0001-12_1,B0001-12,2023-02-09 01:00:00,99.519744,29.417,0.636289,10.12688,8.640631,12.523579,32.209893,0.0,0.0

,ID,NE ID,endTime,access_success_rate,resource_utilition_rate,TA,bler,cqi,mcs,data_rate,fault_duration,relation
0,B0017-25_24,B0017-25,2023-02-20 06:00:00,99.714558,8.678,3.71541,7.653169,5.964988,5.403557,6.815789,0.0,0.0

            ID  data_rate_t+1_trend
0  B0017-25_24                    0

In [6]:
df_meta_train_features = df_meta_train[df_meta_train['fault_duration']==0].reset_index(drop=True)
df_meta_test_features = df_meta_test[df_meta_test['fault_duration']==0].reset_index(drop=True)
print(df_meta_train_features.shape,df_meta_test_features.shape)
df_train = df_meta_train[df_meta_train['fault_duration']>0].reset_index(drop=True)
df1 = df_meta_train_features.groupby(['ID'])[['data_rate']].last().add_suffix("_t-1").reset_index()
df_train = df_train.merge(df1,on=['ID'],how='left')
df_train['data_rate_t+1_trend'] = np.where(df_train['data_rate']<df_train['data_rate_t-1'],1,0)


# df_train_first = df_train.groupby(['ID']).first().reset_index()
# df_train_after_first = df_train.groupby(["ID"]).apply(lambda group: group.iloc[1:]).reset_index(drop=True)
for col in ['access_success_rate','resource_utilition_rate', 'TA', 'bler', 'cqi', 'mcs']:
    del df_train[col]
# df_train = pd.concat([df_train_first,df_train_after_first], ignore_index=True)

print(df_train.groupby(['ID']).first()['data_rate_t+1_trend'].value_counts(normalize=True))
print(df_train['data_rate_t+1_trend'].value_counts(normalize=True))
df_train.rename(columns={'data_rate':'TARGET_data_rate','data_rate_t+1_trend':'TARGET_data_rate_t+1_trend'},inplace=True)
df_train = df_train[['ID', 'NE ID', 'endTime',  'fault_duration','relation', 'data_rate_t-1',
                     'TARGET_data_rate', 'TARGET_data_rate_t+1_trend']].copy()
display(df_train)
df_test = df_meta_test[df_meta_test['fault_duration']>0].reset_index(drop=True)
df1 = df_meta_test_features.groupby(['ID'])[['data_rate']].last().add_suffix("_t-1").reset_index()
df_test = df_test.merge(df1,on=['ID'],how='left')
for col in ['access_success_rate','resource_utilition_rate', 'TA', 'bler', 'cqi', 'mcs','data_rate']:
    del df_test[col]

display(df_test)
df_meta_train_features['data'] = 'no_fault'
df_meta_test_features['data'] = 'no_fault'
df_train['data'] = 'train_fault'
df_test['data'] = 'test_fault'
df_combined = pd.concat([df_meta_train_features,df_train,df_meta_test_features,df_test]).reset_index(drop=True)

(813138, 12) (173218, 12)
0    0.508407
1    0.491593
Name: data_rate_t+1_trend, dtype: float64
1    0.526936
0    0.473064
Name: data_rate_t+1_trend, dtype: float64

,ID,NE ID,endTime,fault_duration,relation,data_rate_t-1,TARGET_data_rate,TARGET_data_rate_t+1_trend
0,B0001-12_1,B0001-12,2023-02-20 13:00:00,91.0,0.942467,23.253083,23.910174,0
1,B0001-13_1,B0001-13,2023-02-20 13:00:00,91.0,0.942467,22.537942,28.421796,0
2,B0001-15_1,B0001-15,2023-02-20 13:00:00,91.0,0.942467,5.711927,19.964336,0
3,B0001-22_1,B0001-22,2023-02-20 13:00:00,94.0,0.946876,26.605883,13.039390,1
4,B0001-23_1,B0001-23,2023-02-20 13:00:00,94.0,0.946876,24.037401,35.187848,0
...,...,...,...,...,...,...,...,...
95779,B0729-13_1,B0729-13,2023-02-28 02:00:00,209.0,0.990000,21.438768,21.961071,0
95780,B0729-15_1,B0729-15,2023-02-28 01:00:00,950.0,0.990000,4.248081,4.510619,0
95781,B0729-15_1,B0729-15,2023-02-28 02:00:00,209.0,0.990000,4.248081,6.097206,0
95782,B0729-22_1,B0729-22,2023-02-28 01:00:00,950.0,1.000000,14.851790,20.272872,0
95783,B0729-22_1,B0729-22,2023-02-28 02:00:00,209.0,1.000000,14.851790,31.628544,0

,ID,NE ID,endTime,fault_duration,relation,data_rate_t-1
0,B0017-25_24,B0017-25,2023-02-20 09:00:00,301.0,0.654162,1.175289
1,B0017-25_25,B0017-25,2023-02-20 21:00:00,145.0,0.654162,0.966620
2,B0017-25_26,B0017-25,2023-02-21 00:00:00,250.0,0.654162,1.561278
3,B0017-25_27,B0017-25,2023-02-21 06:00:00,1971.0,0.654162,10.963935
4,B0017-32_1,B0017-32,2023-02-14 21:00:00,3461.0,0.654162,4.471131
...,...,...,...,...,...,...
1927,B0122-43_1,B0122-43,2023-02-11 15:00:00,616.0,1.000000,16.973420
1928,B0122-43_2,B0122-43,2023-02-13 15:00:00,97.0,0.990000,8.685347
1929,B0122-45_1,B0122-45,2023-02-11 15:00:00,616.0,1.000000,3.946578
1930,B0122-45_2,B0122-45,2023-02-13 15:00:00,97.0,0.990000,2.349000
1931,B0122-45_3,B0122-45,2023-02-27 04:00:00,1851.0,0.990000,12.382429

In [7]:
%%time
df_total = df_combined.sort_values(['NE ID','endTime'],ascending=True,ignore_index=True)
del df_total['data_rate_t-1']
df_total_resample = df_total.set_index('endTime').groupby('NE ID').resample('H').asfreq().drop(['NE ID'], 1).reset_index()
df_total_resample = df_total_resample.sort_values(['NE ID','endTime'],ascending=True,ignore_index=True)
print(df_total.shape, df_total_resample.shape)

(1084072, 15) (1093242, 15)
CPU times: user 10.1 s, sys: 581 ms, total: 10.6 s
Wall time: 10.7 s

In [8]:
# df_total['access_success_rate_by_resource_utilition_rate'] = df_total['access_success_rate'] / df_total['resource_utilition_rate']
# df_total_resample['access_success_rate_by_resource_utilition_rate'] = df_total_resample['access_success_rate'] / df_total_resample['resource_utilition_rate']

In [9]:
# df_total = df_total[df_total['data_rate']!=0].reset_index(drop=True)
all_shits = [1,2,3] #list(np.arange(1,49)) # 
for shift_i in tqdm(all_shits):
    for col in ['endTime','access_success_rate','resource_utilition_rate','TA','bler','cqi','mcs','data_rate',
               'fault_duration','relation']:
        df_total[f'{col}_T-{shift_i}'] = df_total.groupby(['NE ID'])[col].shift(shift_i)
    
for shift_i in tqdm(all_shits):
    for col in ['endTime','access_success_rate','resource_utilition_rate','TA','bler','cqi','mcs','data_rate',
               'fault_duration','relation']:
        df_total[f'{col}_T+{shift_i}'] = df_total.groupby(['NE ID'])[col].shift(-shift_i)
        

for shift_i in tqdm(all_shits):
    df_total[f'endTime_T+{shift_i}_hours_elapsed'] = (df_total[f'endTime_T+{shift_i}']-df_total['endTime']).dt.total_seconds() / 3600
    df_total[f'endTime_T-{shift_i}_hours_elapsed'] = (df_total[f'endTime_T-{shift_i}']-df_total['endTime']).dt.total_seconds() / 3600
    del df_total[f'endTime_T+{shift_i}']
    del df_total[f'endTime_T-{shift_i}']

100%|██████████| 3/3 [00:04<00:00,  1.41s/it]
100%|██████████| 3/3 [00:04<00:00,  1.41s/it]
100%|██████████| 3/3 [00:00<00:00, 19.76it/s]

In [10]:
# df_total[f'data_rate_T-1-T-2'] = df_total.groupby(['NE ID'])['data_rate'].shift(1)- df_total.groupby(['NE ID'])['data_rate'].shift(2)
# df_total[f'data_rate_T-2-T-3'] = df_total.groupby(['NE ID'])['data_rate'].shift(2)- df_total.groupby(['NE ID'])['data_rate'].shift(3)
# df_total[f'data_rate_T-3-T-4'] = df_total.groupby(['NE ID'])['data_rate'].shift(3)- df_total.groupby(['NE ID'])['data_rate'].shift(4)

In [11]:
all_shits = [24,48,72]
for shift_i in tqdm(all_shits):
    for col in ['access_success_rate','resource_utilition_rate','TA','bler',
                'cqi','mcs','data_rate','fault_duration','relation']:
        df_total_resample[f'{col}_T-{shift_i}'] = df_total_resample.groupby(['NE ID'])[col].shift(shift_i)

for shift_i in tqdm(all_shits):
    for col in ['access_success_rate','resource_utilition_rate','TA','bler',
                'cqi','mcs','data_rate','fault_duration','relation']:
        df_total_resample[f'{col}_T+{shift_i}'] = df_total_resample.groupby(['NE ID'])[col].shift(-shift_i)

100%|██████████| 3/3 [00:03<00:00,  1.30s/it]
100%|██████████| 3/3 [00:03<00:00,  1.29s/it]

In [12]:
df_tot_fault_et = df_total_resample[df_total_resample['fault_duration']>0].groupby(['NE ID']).agg({'endTime':lambda x: list(x)}).add_prefix("fault_").reset_index()

In [13]:
# df_total_resample[f'data_rate_T-24-T-25'] = df_total_resample.groupby(['NE ID'])['data_rate'].shift(24)- df_total_resample.groupby(['NE ID'])['data_rate'].shift(25)
# df_total_resample[f'data_rate_T-48-T-49'] = df_total_resample.groupby(['NE ID'])['data_rate'].shift(48)- df_total_resample.groupby(['NE ID'])['data_rate'].shift(49)
# df_total_resample[f'data_rate_T-72-T-73'] = df_total_resample.groupby(['NE ID'])['data_rate'].shift(72)- df_total_resample.groupby(['NE ID'])['data_rate'].shift(73)

In [14]:
df_total['month'] = df_total['endTime'].dt.month
df_total['day'] = df_total['endTime'].dt.day
df_total['hour'] = df_total['endTime'].dt.hour
df_total['weekday_number'] = df_total['endTime'].dt.weekday
df_total['hour_sin'] = np.sin(2 * np.pi * df_total['hour'] / 24)
df_total['hour_cos'] = np.cos(2 * np.pi * df_total['hour'] / 24)
# df_total['weekday_sin'] = np.sin(2 * np.pi * df_total['weekday_number'] / 7)
# df_total['weekday_cos'] = np.cos(2 * np.pi * df_total['weekday_number'] / 7)
# df_total['day_sin'] = np.sin(2 * np.pi * df_total['day'] / 31)
# df_total['day_cos'] = np.cos(2 * np.pi * df_total['day'] / 31)

# df_total = df_total.groupby(['ID']).first().reset_index()

In [15]:
%%time
df_mean_drates = df_total.groupby(['NE ID','hour']).agg({'data_rate':['mean','std','min','max','skew'],
                                                         'access_success_rate':['mean','std','min','max','skew'],
                                                         'resource_utilition_rate':['mean','std','min','max','skew'],
                                                         'TA':['mean','std','min','max','skew'],
                                                         'bler':['mean','std','min','max','skew'],
                                                         'cqi':['mean','std','min','max','skew'],
                                                         'mcs':['mean','std','min','max','skew']
                                                        })
df_mean_drates.columns = [i[0]+"_"+i[1] for i in df_mean_drates]
df_mean_drates = df_mean_drates.reset_index()
df_total = df_total.merge(df_mean_drates,on=['NE ID','hour'],how='left')
print(df_total.shape)

(1084072, 116)
CPU times: user 1min 28s, sys: 662 ms, total: 1min 28s
Wall time: 1min 28s

In [16]:
%%time
df_total['hour-1'] = df_total['hour']-1
df_total['hour-1'] = np.where(df_total['hour-1']==-1,23,df_total['hour-1'])
df_total = df_total.merge(df_mean_drates.set_index(['NE ID','hour']).add_suffix("_T-1").reset_index().rename(columns={"hour":"hour-1"}),
                          on=['NE ID','hour-1'],how='left')
del df_total['hour-1']
print(df_total.shape)

(1084072, 151)
CPU times: user 1.12 s, sys: 387 ms, total: 1.51 s
Wall time: 1.51 s

In [17]:
# category_cols = ['month','day','hour','weekday_number']

In [18]:
df_total['last_10_data_rates'] = np.vstack([np.array(df_total.groupby(['NE ID'])['data_rate'].shift(i).fillna(-1)) for i in range(1,11)]).T.tolist()

In [19]:
df_train = df_total[df_total['data']=='train_fault'].groupby(['ID']).first().reset_index()
df_train.drop(columns=['access_success_rate','resource_utilition_rate',
                      'TA','bler','cqi','mcs','data_rate','data','TARGET_data_rate'],
              inplace=True)
df_train = df_train.merge(df_total_resample[[col for col in df_total_resample if col not in ['ID','access_success_rate',
                                                 'resource_utilition_rate','TA','bler',
                                                 'cqi','mcs','data_rate','data',
                                                 'TARGET_data_rate','fault_duration',
                                                 'relation','TARGET_data_rate_t+1_trend']]],
              on=['NE ID','endTime'], how='left')

# #time since last fault
# df_train = df_train.merge(df_tot_fault_et,on='NE ID',how='left')
# df_train['fault_endTime'] = df_train.apply(lambda x: max([i for i in x['fault_endTime'] if i<x['endTime']]) if len([i for i in x['fault_endTime'] if i<x['endTime']])>0 else np.nan, axis=1)
# df_train['fault_endTime'] = (df_train['endTime']-df_train['fault_endTime']).dt.total_seconds() / 3600

print(df_train.shape)
display(df_train.head(1))

(7256, 197)

,ID,NE ID,endTime,fault_duration,relation,TARGET_data_rate_t+1_trend,access_success_rate_T-1,resource_utilition_rate_T-1,TA_T-1,bler_T-1,cqi_T-1,mcs_T-1,data_rate_T-1,fault_duration_T-1,relation_T-1,access_success_rate_T-2,resource_utilition_rate_T-2,TA_T-2,bler_T-2,cqi_T-2,mcs_T-2,data_rate_T-2,fault_duration_T-2,relation_T-2,access_success_rate_T-3,resource_utilition_rate_T-3,TA_T-3,bler_T-3,cqi_T-3,mcs_T-3,data_rate_T-3,fault_duration_T-3,relation_T-3,access_success_rate_T+1,resource_utilition_rate_T+1,TA_T+1,bler_T+1,cqi_T+1,mcs_T+1,data_rate_T+1,fault_duration_T+1,relation_T+1,access_success_rate_T+2,resource_utilition_rate_T+2,TA_T+2,bler_T+2,cqi_T+2,mcs_T+2,data_rate_T+2,fault_duration_T+2,relation_T+2,access_success_rate_T+3,resource_utilition_rate_T+3,TA_T+3,bler_T+3,cqi_T+3,mcs_T+3,data_rate_T+3,fault_duration_T+3,relation_T+3,endTime_T+1_hours_elapsed,endTime_T-1_hours_elapsed,endTime_T+2_hours_elapsed,endTime_T-2_hours_elapsed,endTime_T+3_hours_elapsed,endTime_T-3_hours_elapsed,month,day,hour,weekday_number,hour_sin,hour_cos,data_rate_mean,data_rate_std,data_rate_min,data_rate_max,data_rate_skew,access_success_rate_mean,access_success_rate_std,access_success_rate_min,access_success_rate_max,access_success_rate_skew,resource_utilition_rate_mean,resource_utilition_rate_std,resource_utilition_rate_min,resource_utilition_rate_max,resource_utilition_rate_skew,TA_mean,TA_std,TA_min,TA_max,TA_skew,bler_mean,bler_std,bler_min,bler_max,bler_skew,cqi_mean,cqi_std,cqi_min,cqi_max,cqi_skew,mcs_mean,mcs_std,mcs_min,mcs_max,mcs_skew,data_rate_mean_T-1,data_rate_std_T-1,data_rate_min_T-1,data_rate_max_T-1,data_rate_skew_T-1,access_success_rate_mean_T-1,access_success_rate_std_T-1,access_success_rate_min_T-1,access_success_rate_max_T-1,access_success_rate_skew_T-1,resource_utilition_rate_mean_T-1,resource_utilition_rate_std_T-1,resource_utilition_rate_min_T-1,resource_utilition_rate_max_T-1,resource_utilition_rate_skew_T-1,TA_mean_T-1,TA_std_T-1,TA_min_T-1,TA_max_T-1,TA_skew_T-1,bler_mean_T-1,bler_std_T-1,bler_min_T-1,bler_max_T-1,bler_skew_T-1,cqi_mean_T-1,cqi_std_T-1,cqi_min_T-1,cqi_max_T-1,cqi_skew_T-1,mcs_mean_T-1,mcs_std_T-1,mcs_min_T-1,mcs_max_T-1,mcs_skew_T-1,last_10_data_rates,access_success_rate_T-24,resource_utilition_rate_T-24,TA_T-24,bler_T-24,cqi_T-24,mcs_T-24,data_rate_T-24,fault_duration_T-24,relation_T-24,access_success_rate_T-48,resource_utilition_rate_T-48,TA_T-48,bler_T-48,cqi_T-48,mcs_T-48,data_rate_T-48,fault_duration_T-48,relation_T-48,access_success_rate_T-72,resource_utilition_rate_T-72,TA_T-72,bler_T-72,cqi_T-72,mcs_T-72,data_rate_T-72,fault_duration_T-72,relation_T-72,access_success_rate_T+24,resource_utilition_rate_T+24,TA_T+24,bler_T+24,cqi_T+24,mcs_T+24,data_rate_T+24,fault_duration_T+24,relation_T+24,access_success_rate_T+48,resource_utilition_rate_T+48,TA_T+48,bler_T+48,cqi_T+48,mcs_T+48,data_rate_T+48,fault_duration_T+48,relation_T+48,access_success_rate_T+72,resource_utilition_rate_T+72,TA_T+72,bler_T+72,cqi_T+72,mcs_T+72,data_rate_T+72,fault_duration_T+72,relation_T+72
0,B0001-12_1,B0001-12,2023-02-20 13:00:00,91.0,0.942467,0.0,100.0,29.382,0.763943,10.336147,8.241281,11.089316,23.253083,0.0,0.0,100.0,45.419,0.811247,10.261306,8.565688,12.344837,21.86461,0.0,0.0,100.0,45.113,0.75943,10.249399,8.600942,12.360695,24.524838,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,-2.0,NaN,-3.0,2,20,13,0,-0.258819,-0.965926,24.222605,5.65253,17.156717,32.484436,0.150417,99.974572,0.03459,99.892357,100.0,-1.427632,27.788091,8.72487,18.661,44.245,0.847005,0.855253,0.029898,0.796883,0.896579,-0.401494,10.89613,0.750986,10.004353,12.333499,0.541658,8.281904,0.157822,8.071295,8.566765,0.260891,11.131713,1.224448,9.865972,14.055772,1.46403,26.169485,6.972352,15.722939,38.812151,0.372772,99.982803,0.037863,99.872935,100.0,-2.622781,24.673833,9.300802,13.687,42.298,0.842579,0.834897,0.041751,0.763943,0.890728,-0.173681,10.299094,1.030502,8.620387,12.517026,0.608599,8.484743,0.322132,8.048658,8.916041,0.401529,11.301975,0.867666,9.291275,12.829033,-0.681889,"[23.25308286587564, 21.864609567544047, 24.524...",100.0,25.604,0.891304,10.965842,8.320807,11.496593,17.156717,0.0,0.0,100.0,37.071,0.862605,11.659417,8.081238,10.35328,17.371207,0.0,0.0,99.951714,31.598,0.834253,10.487901,8.34011,9.946214,22.470461,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_test = df_total[df_total['data']=='test_fault'].reset_index(drop=True)
df_test.drop(columns=['access_success_rate','resource_utilition_rate',
                      'TA','bler','cqi','mcs','data_rate','data',
                      'TARGET_data_rate','TARGET_data_rate_t+1_trend'],
             inplace=True)
df_test = df_test.merge(df_total_resample[[col for col in df_total_resample if col not in ['ID','access_success_rate',
                                                 'resource_utilition_rate','TA','bler',
                                                 'cqi','mcs','data_rate','data',
                                                 'TARGET_data_rate','fault_duration',
                                                 'relation','TARGET_data_rate_t+1_trend']]],
              on=['NE ID','endTime'], how='left')

# #time since last fault
# df_test = df_test.merge(df_tot_fault_et,on='NE ID',how='left')
# df_test['fault_endTime'] = df_test.apply(lambda x: max([i for i in x['fault_endTime'] if i<x['endTime']]) if len([i for i in x['fault_endTime'] if i<x['endTime']])>0 else np.nan, axis=1)
# df_test['fault_endTime'] = (df_test['endTime']-df_test['fault_endTime']).dt.total_seconds() / 3600


print(df_test.shape)
display(df_test.head(1))

(1932, 196)

,ID,NE ID,endTime,fault_duration,relation,access_success_rate_T-1,resource_utilition_rate_T-1,TA_T-1,bler_T-1,cqi_T-1,mcs_T-1,data_rate_T-1,fault_duration_T-1,relation_T-1,access_success_rate_T-2,resource_utilition_rate_T-2,TA_T-2,bler_T-2,cqi_T-2,mcs_T-2,data_rate_T-2,fault_duration_T-2,relation_T-2,access_success_rate_T-3,resource_utilition_rate_T-3,TA_T-3,bler_T-3,cqi_T-3,mcs_T-3,data_rate_T-3,fault_duration_T-3,relation_T-3,access_success_rate_T+1,resource_utilition_rate_T+1,TA_T+1,bler_T+1,cqi_T+1,mcs_T+1,data_rate_T+1,fault_duration_T+1,relation_T+1,access_success_rate_T+2,resource_utilition_rate_T+2,TA_T+2,bler_T+2,cqi_T+2,mcs_T+2,data_rate_T+2,fault_duration_T+2,relation_T+2,access_success_rate_T+3,resource_utilition_rate_T+3,TA_T+3,bler_T+3,cqi_T+3,mcs_T+3,data_rate_T+3,fault_duration_T+3,relation_T+3,endTime_T+1_hours_elapsed,endTime_T-1_hours_elapsed,endTime_T+2_hours_elapsed,endTime_T-2_hours_elapsed,endTime_T+3_hours_elapsed,endTime_T-3_hours_elapsed,month,day,hour,weekday_number,hour_sin,hour_cos,data_rate_mean,data_rate_std,data_rate_min,data_rate_max,data_rate_skew,access_success_rate_mean,access_success_rate_std,access_success_rate_min,access_success_rate_max,access_success_rate_skew,resource_utilition_rate_mean,resource_utilition_rate_std,resource_utilition_rate_min,resource_utilition_rate_max,resource_utilition_rate_skew,TA_mean,TA_std,TA_min,TA_max,TA_skew,bler_mean,bler_std,bler_min,bler_max,bler_skew,cqi_mean,cqi_std,cqi_min,cqi_max,cqi_skew,mcs_mean,mcs_std,mcs_min,mcs_max,mcs_skew,data_rate_mean_T-1,data_rate_std_T-1,data_rate_min_T-1,data_rate_max_T-1,data_rate_skew_T-1,access_success_rate_mean_T-1,access_success_rate_std_T-1,access_success_rate_min_T-1,access_success_rate_max_T-1,access_success_rate_skew_T-1,resource_utilition_rate_mean_T-1,resource_utilition_rate_std_T-1,resource_utilition_rate_min_T-1,resource_utilition_rate_max_T-1,resource_utilition_rate_skew_T-1,TA_mean_T-1,TA_std_T-1,TA_min_T-1,TA_max_T-1,TA_skew_T-1,bler_mean_T-1,bler_std_T-1,bler_min_T-1,bler_max_T-1,bler_skew_T-1,cqi_mean_T-1,cqi_std_T-1,cqi_min_T-1,cqi_max_T-1,cqi_skew_T-1,mcs_mean_T-1,mcs_std_T-1,mcs_min_T-1,mcs_max_T-1,mcs_skew_T-1,last_10_data_rates,access_success_rate_T-24,resource_utilition_rate_T-24,TA_T-24,bler_T-24,cqi_T-24,mcs_T-24,data_rate_T-24,fault_duration_T-24,relation_T-24,access_success_rate_T-48,resource_utilition_rate_T-48,TA_T-48,bler_T-48,cqi_T-48,mcs_T-48,data_rate_T-48,fault_duration_T-48,relation_T-48,access_success_rate_T-72,resource_utilition_rate_T-72,TA_T-72,bler_T-72,cqi_T-72,mcs_T-72,data_rate_T-72,fault_duration_T-72,relation_T-72,access_success_rate_T+24,resource_utilition_rate_T+24,TA_T+24,bler_T+24,cqi_T+24,mcs_T+24,data_rate_T+24,fault_duration_T+24,relation_T+24,access_success_rate_T+48,resource_utilition_rate_T+48,TA_T+48,bler_T+48,cqi_T+48,mcs_T+48,data_rate_T+48,fault_duration_T+48,relation_T+48,access_success_rate_T+72,resource_utilition_rate_T+72,TA_T+72,bler_T+72,cqi_T+72,mcs_T+72,data_rate_T+72,fault_duration_T+72,relation_T+72
0,B0017-25_24,B0017-25,2023-02-20 09:00:00,301.0,0.654162,99.357688,84.004,2.923368,14.209819,5.582824,5.667775,1.175289,0.0,0.0,99.927484,24.264,3.145402,10.015796,6.141206,6.544645,6.777114,0.0,0.0,99.714558,8.678,3.71541,7.653169,5.964988,5.403557,6.815789,0.0,0.0,99.264875,93.086,2.732594,16.947693,5.475508,4.719393,0.52254,0.0,0.0,99.642289,92.242,2.877206,15.083843,5.628569,5.051611,0.96662,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,0.654162,10.0,-1.0,11.0,-2.0,12.0,-3.0,2,20,9,0,0.707107,-0.707107,1.952016,1.752728,0.487686,5.434899,1.230667,99.447719,0.373911,98.659517,99.814929,-1.478284,77.22725,21.93246,37.79,95.126,-0.930093,2.944483,0.193886,2.785595,3.290713,1.058453,14.291685,1.744582,11.698591,16.615224,-0.170393,5.675014,0.219699,5.293939,5.909254,-0.583507,5.815168,0.821974,4.738793,6.893467,0.206865,2.133569,1.957424,0.94113,5.874915,1.582639,99.61248,0.152664,99.357688,99.78308,-0.515804,71.326,25.542511,22.576,88.406,-1.567601,3.035702,0.146381,2.923368,3.351262,2.11902,13.640483,1.796477,10.28829,15.183357,-1.387082,5.783225,0.285058,5.500596,6.302236,0.998402,5.897493,0.717671,5.045484,6.915024,0.657877,"[1.17528900605546, 6.777114273500261, 6.815788...",99.814929,55.07,3.171086,12.769518,5.834403,6.893467,3.292267,0.0,0.0,99.754199,78.256,2.889007,13.597193,5.825114,6.012004,2.046892,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,0.654162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
remove_non_unique_cols = []
for col in df_train:
    if col not in ['TARGET_data_rate','TARGET_data_rate_t+1_trend','last_10_data_rates']:
        if df_train[col].nunique()<=1:
            remove_non_unique_cols.append(col)
            print(col,":",df_train[col].nunique())

for col in df_test:
    if col not in ['TARGET_data_rate','TARGET_data_rate_t+1_trend','last_10_data_rates']:
        if df_test[col].nunique()<=1:
            remove_non_unique_cols.append(col)
            print(col,":",df_test[col].nunique())
remove_non_unique_cols

fault_duration_T-1 : 1
relation_T-1 : 1
fault_duration_T+1 : 1
relation_T+1 : 1

['fault_duration_T-1', 'relation_T-1', 'fault_duration_T+1', 'relation_T+1']

In [22]:
feature_set = [col for col in df_test.columns if col not in ['ID','NE ID','endTime','last_10_data_rates']]
print(len(feature_set))
feature_set = [col for col in feature_set if col not in remove_non_unique_cols]
print(len(feature_set))
target_variable = 'TARGET_data_rate_t+1_trend'
id_variable = 'ID'

192
188

In [23]:
for col in df_test:
    if col not in ['TARGET_data_rate','TARGET_data_rate_t+1_trend']:
        if df_test[col].isnull().sum()/len(df_test)>=0.8:
            print(col,":",df_test[col].isnull().sum()/len(df_test))

In [24]:
train_x = df_train.reset_index(drop=True)
train_y = train_x[target_variable]
test_x = df_test.reset_index(drop=True)

del train_x[target_variable]
test_id = test_x[id_variable]
# train_x = train_x[feature_set].copy()
# test_x = test_x[feature_set].copy()

print(train_x.shape, train_y.shape, test_x.shape)

(7256, 196) (7256,) (1932, 196)

In [25]:
def evaluate_F1_lgb(truth, predictions):  
    predictions = np.where(predictions < f1_threshold, 0, 1)
    f1 = f1_score(truth, predictions)
    return ('F1 Score', f1, True)

def evaluate_F1_xgb(y_pred, dtrain):
    y_true = dtrain.get_label()
    err = f1_score(y_true, np.round(y_pred))
    return 'f1_err', -err

NFOLDS = 10
sc_pos_wt = 1.5
f1_threshold=0.5
seeds_rs = [42] #,1818,181812,1995,1212

In [26]:
# 0.7354
folds = StratifiedKFold(n_splits=NFOLDS, shuffle=True, random_state=42)
pred_test = []
pred_x = []
pred_y = []
j=0
df_train_error_analysis_lgb = pd.DataFrame()
feature_importance_df = pd.DataFrame()
for fold, (train_ids, test_ids) in enumerate(folds.split(train_x, train_y)):
    print('● Fold :', fold+1)
    pred_fold = []
    pred_fold_test = []
    for rs_ in seeds_rs:
        model = LGBMClassifier(n_estimators=10000, random_state=rs_, learning_rate=0.03,
                               n_jobs=-1,lambda_l1=1,feature_fraction=0.45,
#                                lambda_l2=1,
                               scale_pos_weight=sc_pos_wt,
#                                max_depth=8,
#                                linear_tree=True,linear_lambda=0.1
                              )
        model.fit(train_x.loc[train_ids][feature_set], train_y.loc[train_ids], 
                  eval_set=[(train_x.loc[train_ids][feature_set], train_y.loc[train_ids]), 
                            (train_x.loc[test_ids][feature_set], train_y.loc[test_ids])],
                  verbose=False,
                  early_stopping_rounds=100,
#                   categorical_feature=['endTime'],
                  eval_metric=evaluate_F1_lgb
                 )
        pred_fold_i = model.predict_proba(train_x.loc[test_ids][feature_set])[:,-1]
        pred_fold.append(pred_fold_i)
        pred_fold_test_i = model.predict_proba(test_x[feature_set])[:,-1]
        pred_fold_test.append(pred_fold_test_i)
    pred_fold = [hmean(i) for i in [list(i) for i in zip(*pred_fold)]]
    pred_fold_test = [hmean(i) for i in [list(i) for i in zip(*pred_fold_test)]]
    
    pred_x.extend([float(i) for i  in pred_fold])
    pred_y.extend(list(train_y.loc[test_ids].values))
    pred_test.append([float(i) for i  in pred_fold_test])
    print("FOLD F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < f1_threshold, 0, 1))))
    df_train_error_analysis_fold = pd.DataFrame({'ID':list(train_x.loc[test_ids]['ID']),
                                        'ACTUAL_TARGET':list(train_y.loc[test_ids]),
                                        'PREDICTED_TARGET':pred_fold})
    df_train_error_analysis_lgb = pd.concat([df_train_error_analysis_lgb,df_train_error_analysis_fold],ignore_index=True)
    print('\n')

    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = train_x.loc[train_ids][feature_set].columns
    fold_importance_df["importance"] = model.feature_importances_
    fold_importance_df["fold"] = j + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    j=j+1

# for i_thr in [np.round(i,2) for i in np.arange(0.2,0.6,0.01)]:
#     print("Threshold:",i_thr,"Final F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < i_thr, 0, 1))))
pred_x = list(np.where(np.array(pred_x) < f1_threshold, 0, 1))
print("Final F1 Score:", f1_score(pred_y, pred_x))

final_prediction = pd.DataFrame(pred_test).T
final_prediction.columns = [("FOLD_"+str(i)) for i in range(final_prediction.shape[1])]

# vote = final_prediction.mean(axis=1)
vote = final_prediction.apply(lambda x: hmean(x), axis=1)
final_prediction[id_variable] = test_id.values
final_prediction['data_rate_t+1_trend'] = vote
print(final_prediction.shape)

train_pred_all = pd.DataFrame()
train_pred_all['data_rate_t+1_trend'] = pred_y
train_pred_all[f'model_{version_nb}'] = pred_x
final_prediction_lgb = final_prediction.copy()

display(final_prediction.head())
df_submission = final_prediction[[id_variable,'data_rate_t+1_trend']].copy()
df_submission.to_csv(f"lgb_{version_nb}_raw.csv", index = False)
df_submission['data_rate_t+1_trend'] = list(np.where(final_prediction['data_rate_t+1_trend'] < f1_threshold, 0, 1))
df_submission.to_csv(f"lgb_{version_nb}.csv", index = False)
display(df_submission.head())

all_features = feature_importance_df[["feature", "importance"]].groupby("feature").mean().sort_values(by="importance", ascending=False)
all_features.reset_index(inplace=True)
important_features = list(all_features[all_features['importance']!=0]['feature'])
display(all_features)
display(all_features.head(25))

final_prediction_lgb = final_prediction[['ID','data_rate_t+1_trend']].copy()

● Fold : 1
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7530562347188263


● Fold : 2
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7410983705491853


● Fold : 3
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7345340642129993


● Fold : 4
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7331378299120234


● Fold : 5
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7339319470699432


● Fold : 6
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.739044611133044


● Fold : 7
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7372681281618888


● Fold : 8
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.73604513064133


● Fold : 9
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7343708783962015


● Fold : 10
[LightGBM] [Warning] lambda_l1 is set=1, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45
FOLD F1 Score: 0.7354654618951374


Final F1 Score: 0.7354654618951374
(1932, 12)

,FOLD_0,FOLD_1,FOLD_2,FOLD_3,FOLD_4,FOLD_5,FOLD_6,FOLD_7,FOLD_8,FOLD_9,ID,data_rate_t+1_trend
0,0.650845,0.696611,0.599811,0.589064,0.617494,0.720188,0.675487,0.671850,0.730922,0.649630,B0017-25_24,0.656984
1,0.279322,0.374275,0.510662,0.429746,0.381456,0.405780,0.488256,0.307062,0.299334,0.339581,B0017-25_25,0.367466
2,0.267152,0.252330,0.370271,0.338058,0.215693,0.222825,0.303723,0.175781,0.183365,0.173517,B0017-25_26,0.234263
3,0.822590,0.777437,0.639417,0.727341,0.822952,0.807199,0.715815,0.780119,0.818361,0.781462,B0017-25_27,0.764806
4,0.765885,0.861929,0.666004,0.723943,0.837221,0.867261,0.772230,0.820974,0.875196,0.820964,B0017-32_1,0.795554

            ID  data_rate_t+1_trend
0  B0017-25_24                    1
1  B0017-25_25                    0
2  B0017-25_26                    0
3  B0017-25_27                    1
4   B0017-32_1                    1

                       feature  importance
0                data_rate_T-1       441.3
1               data_rate_mean       194.5
2                data_rate_min        96.8
3                data_rate_T+1        80.0
4                data_rate_T-2        61.6
..                         ...         ...
183  endTime_T+1_hours_elapsed         0.8
184  endTime_T-3_hours_elapsed         0.5
185                      month         0.4
186  endTime_T-2_hours_elapsed         0.2
187  endTime_T-1_hours_elapsed         0.0

[188 rows x 2 columns]

                         feature  importance
0                  data_rate_T-1       441.3
1                 data_rate_mean       194.5
2                  data_rate_min        96.8
3                  data_rate_T+1        80.0
4                  data_rate_T-2        61.6
5                  data_rate_T-3        59.7
6                  data_rate_T+2        59.5
7                 data_rate_T-72        56.7
8                 data_rate_skew        56.3
9                 fault_duration        55.1
10                          hour        49.5
11                data_rate_T-24        44.4
12                       mcs_T-1        44.0
13                   TA_skew_T-1        43.8
14                 data_rate_max        42.8
15                      bler_T-1        41.3
16                      mcs_T-48        40.9
17                      bler_T-3        40.5
18            data_rate_skew_T-1        37.0
19  resource_utilition_rate_skew        36.9
20                      cqi_skew        36.5
21                      bler_T-2        34.9
22   resource_utilition_rate_T-2        33.7
23   resource_utilition_rate_T-3        33.2
24             data_rate_std_T-1        30.4

In [27]:
#0.7286
folds = StratifiedKFold(n_splits=NFOLDS, shuffle=True, random_state=42)
pred_test = []
pred_x = []
pred_y = []
j=0
df_train_error_analysis_cb = pd.DataFrame()
feature_importance_df = pd.DataFrame()
for fold, (train_ids, test_ids) in enumerate(folds.split(train_x, train_y)):
    print('● Fold :', fold+1)
    pred_fold = []
    pred_fold_test = []
    for rs_ in seeds_rs:
        model = CatBoostClassifier(n_estimators=10000, random_state=rs_, learning_rate=0.03,
                                   eval_metric='F1:use_weights=False',
                                   scale_pos_weight=sc_pos_wt,
                                   use_best_model=True,
                                   max_depth=8
                                  )
        model.fit(train_x.loc[train_ids][feature_set], train_y.loc[train_ids], 
                  eval_set=[(train_x.loc[train_ids][feature_set], train_y.loc[train_ids]), 
                            (train_x.loc[test_ids][feature_set], train_y.loc[test_ids])],
                  verbose=False,
                  early_stopping_rounds=100,
                  use_best_model=True,
    #               cat_features=category_cols
    #               eval_metric=evaluate_F1_lgb
                 )
        pred_fold_i = model.predict_proba(train_x.loc[test_ids][feature_set])[:,-1]
        pred_fold.append(pred_fold_i)
        pred_fold_test_i = model.predict_proba(test_x[feature_set])[:,-1]
        pred_fold_test.append(pred_fold_test_i)
    pred_fold = [hmean(i) for i in [list(i) for i in zip(*pred_fold)]]
    pred_fold_test = [hmean(i) for i in [list(i) for i in zip(*pred_fold_test)]]
    

    pred_x.extend([float(i) for i  in pred_fold])
    pred_y.extend(list(train_y.loc[test_ids].values))
    
    pred_test.append([float(i) for i  in pred_fold_test])
    print("FOLD F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < f1_threshold, 0, 1))))
    df_train_error_analysis_fold = pd.DataFrame({'ID':list(train_x.loc[test_ids]['ID']),
                                        'ACTUAL_TARGET':list(train_y.loc[test_ids]),
                                        'PREDICTED_TARGET':pred_fold})
    df_train_error_analysis_cb = pd.concat([df_train_error_analysis_cb,df_train_error_analysis_fold],ignore_index=True)
    print('\n')

    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = train_x.loc[train_ids][feature_set].columns
    fold_importance_df["importance"] = model.feature_importances_
    fold_importance_df["fold"] = j + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    j=j+1

# for i_thr in [np.round(i,2) for i in np.arange(0.2,0.6,0.01)]:
#     print("Threshold:",i_thr,"Final F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < i_thr, 0, 1))))
pred_x = list(np.where(np.array(pred_x) < f1_threshold, 0, 1))
print("Final F1 Score:", f1_score(pred_y, pred_x))

final_prediction = pd.DataFrame(pred_test).T
final_prediction.columns = [("FOLD_"+str(i)) for i in range(final_prediction.shape[1])]

# vote = final_prediction.mean(axis=1)
vote = final_prediction.apply(lambda x: hmean(x), axis=1)
final_prediction[id_variable] = test_id.values
final_prediction['data_rate_t+1_trend'] = vote
print(final_prediction.shape)

train_pred_all = pd.DataFrame()
train_pred_all['data_rate_t+1_trend'] = pred_y
train_pred_all[f'model_{version_nb}'] = pred_x
final_prediction_cb = final_prediction.copy()

display(final_prediction.head())
df_submission = final_prediction[[id_variable,'data_rate_t+1_trend']].copy()
df_submission.to_csv(f"cb_{version_nb}_raw.csv", index = False)
df_submission['data_rate_t+1_trend'] = list(np.where(final_prediction['data_rate_t+1_trend'] < f1_threshold, 0, 1))
df_submission.to_csv(f"cb_{version_nb}.csv", index = False)
display(df_submission.head())

all_features = feature_importance_df[["feature", "importance"]].groupby("feature").mean().sort_values(by="importance", ascending=False)
all_features.reset_index(inplace=True)
important_features = list(all_features[all_features['importance']!=0]['feature'])
display(all_features)
display(all_features.head(25))

final_prediction_cb = final_prediction[['ID','data_rate_t+1_trend']].copy()

● Fold : 1
FOLD F1 Score: 0.7481481481481481


● Fold : 2
FOLD F1 Score: 0.7321954090641554


● Fold : 3
FOLD F1 Score: 0.7290149482560366


● Fold : 4
FOLD F1 Score: 0.7290780141843971


● Fold : 5
FOLD F1 Score: 0.7299471385888301


● Fold : 6
FOLD F1 Score: 0.7310555449513266


● Fold : 7
FOLD F1 Score: 0.7305057096247962


● Fold : 8
FOLD F1 Score: 0.7300099417696351


● Fold : 9
FOLD F1 Score: 0.7272954716037028


● Fold : 10
FOLD F1 Score: 0.7286312691044945


Final F1 Score: 0.7286312691044945
(1932, 12)

,FOLD_0,FOLD_1,FOLD_2,FOLD_3,FOLD_4,FOLD_5,FOLD_6,FOLD_7,FOLD_8,FOLD_9,ID,data_rate_t+1_trend
0,0.770309,0.705778,0.696770,0.632670,0.733073,0.760341,0.722844,0.704164,0.611878,0.753167,B0017-25_24,0.705429
1,0.416699,0.503614,0.534274,0.513598,0.450210,0.530374,0.442990,0.504293,0.453181,0.435546,B0017-25_25,0.474974
2,0.184927,0.295096,0.278753,0.407587,0.201366,0.271821,0.298168,0.303908,0.308811,0.258265,B0017-25_26,0.268553
3,0.876613,0.759318,0.686459,0.691037,0.735091,0.767096,0.686747,0.661015,0.705374,0.782660,B0017-25_27,0.730465
4,0.700988,0.728182,0.681569,0.684012,0.834575,0.749618,0.742923,0.679049,0.621339,0.731335,B0017-32_1,0.711404

            ID  data_rate_t+1_trend
0  B0017-25_24                    1
1  B0017-25_25                    0
2  B0017-25_26                    0
3  B0017-25_27                    1
4   B0017-32_1                    1

                       feature  importance
0                data_rate_T-1   19.328952
1               data_rate_mean    3.950461
2                         hour    3.151187
3                data_rate_min    2.998375
4                     hour_cos    2.327043
..                         ...         ...
183  endTime_T+2_hours_elapsed    0.026296
184  endTime_T-3_hours_elapsed    0.021911
185  endTime_T-1_hours_elapsed    0.020471
186  endTime_T-2_hours_elapsed    0.013467
187                      month    0.000000

[188 rows x 2 columns]

                        feature  importance
0                 data_rate_T-1   19.328952
1                data_rate_mean    3.950461
2                          hour    3.151187
3                 data_rate_min    2.998375
4                      hour_cos    2.327043
5                        TA_T-1    2.239808
6                       mcs_T-1    2.026146
7                 data_rate_T+1    1.593532
8                 data_rate_max    1.088623
9                 data_rate_T+2    1.077053
10               fault_duration    1.005514
11                data_rate_T+3    0.968473
12  resource_utilition_rate_T-2    0.892331
13                     bler_T-3    0.874357
14                      cqi_T-1    0.779816
15               data_rate_skew    0.770479
16               data_rate_T-72    0.744020
17                  TA_skew_T-1    0.716262
18                     hour_sin    0.711261
19                     cqi_skew    0.676649
20  resource_utilition_rate_T-3    0.651214
21     access_success_rate_mean    0.640295
22                     bler_max    0.623382
23               data_rate_T-24    0.600566
24  resource_utilition_rate_std    0.599334

In [28]:
#0.7259
folds = StratifiedKFold(n_splits=NFOLDS, shuffle=True, random_state=42)
pred_test = []
pred_x = []
pred_y = []
j=0
df_train_error_analysis_hgb = pd.DataFrame()
feature_importance_df = pd.DataFrame()
for fold, (train_ids, test_ids) in enumerate(folds.split(train_x, train_y)):
    print('● Fold :', fold+1)
    pred_fold = []
    pred_fold_test = []
    for rs_ in seeds_rs:
        model = HistGradientBoostingClassifier(random_state=rs_,verbose=0,
                                               scoring = 'recall',
                                              early_stopping = True,
                                               max_iter = 10000,
                                              learning_rate = 0.03,
                                              n_iter_no_change = 100,
                                               class_weight={1:sc_pos_wt},
                                               )
        model.fit(train_x.loc[train_ids][feature_set], train_y.loc[train_ids])
        pred_fold_i = model.predict_proba(train_x.loc[test_ids][feature_set])[:,-1]
        pred_fold.append(pred_fold_i)
        pred_fold_test_i = model.predict_proba(test_x[feature_set])[:,-1]
        pred_fold_test.append(pred_fold_test_i)
    pred_fold = [hmean(i) for i in [list(i) for i in zip(*pred_fold)]]
    pred_fold_test = [hmean(i) for i in [list(i) for i in zip(*pred_fold_test)]]
    
    pred_x.extend([float(i) for i  in pred_fold])
    pred_y.extend(list(train_y.loc[test_ids].values))
    pred_test.append([float(i) for i  in pred_fold_test])
    print("FOLD F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < f1_threshold, 0, 1))))
    df_train_error_analysis_fold = pd.DataFrame({'ID':list(train_x.loc[test_ids]['ID']),
                                        'ACTUAL_TARGET':list(train_y.loc[test_ids]),
                                        'PREDICTED_TARGET':pred_fold})
    df_train_error_analysis_hgb = pd.concat([df_train_error_analysis_hgb,df_train_error_analysis_fold],ignore_index=True)
    print('\n')

#     fold_importance_df = pd.DataFrame()
#     fold_importance_df["feature"] = train_x.loc[train_ids][feature_set].columns
#     fold_importance_df["importance"] = model.feat
#     fold_importance_df["fold"] = j + 1
#     feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
#     j=j+1

# for i_thr in [np.round(i,2) for i in np.arange(0.2,0.6,0.01)]:
#     print("Threshold:",i_thr,"Final F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < i_thr, 0, 1))))
pred_x = list(np.where(np.array(pred_x) < f1_threshold, 0, 1))
print("Final F1 Score:", f1_score(pred_y, pred_x))

final_prediction = pd.DataFrame(pred_test).T
final_prediction.columns = [("FOLD_"+str(i)) for i in range(final_prediction.shape[1])]

# vote = final_prediction.mean(axis=1)
vote = final_prediction.apply(lambda x: hmean(x), axis=1)
final_prediction[id_variable] = test_id.values
final_prediction['data_rate_t+1_trend'] = vote
print(final_prediction.shape)

train_pred_all = pd.DataFrame()
train_pred_all['data_rate_t+1_trend'] = pred_y
train_pred_all[f'model_{version_nb}'] = pred_x
final_prediction_hgb = final_prediction.copy()

display(final_prediction.head())
df_submission = final_prediction[[id_variable,'data_rate_t+1_trend']].copy()
df_submission.to_csv(f"hgb_{version_nb}_raw.csv", index = False)
df_submission['data_rate_t+1_trend'] = list(np.where(final_prediction['data_rate_t+1_trend'] < f1_threshold, 0, 1))
df_submission.to_csv(f"hgb_{version_nb}.csv", index = False)
display(df_submission.head())

# all_features = feature_importance_df[["feature", "importance"]].groupby("feature").mean().sort_values(by="importance", ascending=False)
# all_features.reset_index(inplace=True)
# important_features = list(all_features[all_features['importance']!=0]['feature'])
# display(all_features)
# display(all_features.head(25))

final_prediction_hgb = final_prediction[['ID','data_rate_t+1_trend']].copy()

● Fold : 1
FOLD F1 Score: 0.7524509803921569


● Fold : 2
FOLD F1 Score: 0.7323262839879153


● Fold : 3
FOLD F1 Score: 0.7303999999999999


● Fold : 4
FOLD F1 Score: 0.7272727272727272


● Fold : 5
FOLD F1 Score: 0.7257751937984496


● Fold : 6
FOLD F1 Score: 0.7318053880176919


● Fold : 7
FOLD F1 Score: 0.7274607826236855


● Fold : 8
FOLD F1 Score: 0.7263666565992147


● Fold : 9
FOLD F1 Score: 0.7255714476674241


● Fold : 10
FOLD F1 Score: 0.7259384023099134


Final F1 Score: 0.7259384023099134
(1932, 12)

,FOLD_0,FOLD_1,FOLD_2,FOLD_3,FOLD_4,FOLD_5,FOLD_6,FOLD_7,FOLD_8,FOLD_9,ID,data_rate_t+1_trend
0,0.632100,0.657009,0.694725,0.557354,0.642384,0.707575,0.728939,0.674522,0.568428,0.603969,B0017-25_24,0.641972
1,0.398253,0.377779,0.385350,0.381789,0.380328,0.537961,0.440820,0.444528,0.315493,0.438391,B0017-25_25,0.402750
2,0.243142,0.264251,0.236425,0.295921,0.192334,0.266775,0.415262,0.346407,0.268665,0.249156,B0017-25_26,0.266778
3,0.750356,0.747713,0.813123,0.818846,0.792271,0.800700,0.806917,0.764894,0.793817,0.799210,B0017-25_27,0.788028
4,0.786264,0.848432,0.847645,0.772691,0.815546,0.837359,0.841688,0.812949,0.835139,0.818387,B0017-32_1,0.820863

            ID  data_rate_t+1_trend
0  B0017-25_24                    1
1  B0017-25_25                    0
2  B0017-25_26                    0
3  B0017-25_27                    1
4   B0017-32_1                    1

In [29]:
# train_x[category_cols] = train_x[category_cols].astype("category")
# test_x[category_cols] = test_x[category_cols].astype("category")
#  enable_categorical=True,

In [30]:
# 0.7323
folds = StratifiedKFold(n_splits=NFOLDS, shuffle=True, random_state=42)
pred_test = []
pred_x = []
pred_y = []
j=0
df_train_error_analysis_xgb = pd.DataFrame()
feature_importance_df = pd.DataFrame()
for fold, (train_ids, test_ids) in enumerate(folds.split(train_x, train_y)):
    print('● Fold :', fold+1)
    pred_fold = []
    pred_fold_test = []
    for rs_ in seeds_rs:
        model = XGBClassifier(n_estimators=10000, random_state=rs_, learning_rate=0.03,
                              n_jobs=-1,scale_pos_weight=sc_pos_wt,colsample_bytree=0.45,
                              reg_lambda=1,reg_alpha=0,max_depth=7,
                             disable_default_eval_metric=1,tree_method='exact')
        model.fit(train_x.loc[train_ids][feature_set], train_y.loc[train_ids], 
                  eval_set=[(train_x.loc[train_ids][feature_set], train_y.loc[train_ids]), 
                            (train_x.loc[test_ids][feature_set], train_y.loc[test_ids])],
                  verbose=False,
                  early_stopping_rounds=100,
                  eval_metric=evaluate_F1_xgb
                 )
        pred_fold_i = model.predict_proba(train_x.loc[test_ids][feature_set])[:,-1]
        pred_fold.append(pred_fold_i)
        pred_fold_test_i = model.predict_proba(test_x[feature_set])[:,-1]
        pred_fold_test.append(pred_fold_test_i)
    pred_fold = [hmean(i) for i in [list(i) for i in zip(*pred_fold)]]
    pred_fold_test = [hmean(i) for i in [list(i) for i in zip(*pred_fold_test)]]
    
    pred_x.extend([float(i) for i  in pred_fold])
    pred_y.extend(list(train_y.loc[test_ids].values))
    
    pred_test.append([float(i) for i  in pred_fold_test])
    print("FOLD F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < f1_threshold, 0, 1))))
    df_train_error_analysis_fold = pd.DataFrame({'ID':list(train_x.loc[test_ids]['ID']),
                                        'ACTUAL_TARGET':list(train_y.loc[test_ids]),
                                        'PREDICTED_TARGET':pred_fold})
    df_train_error_analysis_xgb = pd.concat([df_train_error_analysis_xgb,df_train_error_analysis_fold],ignore_index=True)
    print('\n')

    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = train_x.loc[train_ids][feature_set].columns
    fold_importance_df["importance"] = model.feature_importances_
    fold_importance_df["fold"] = j + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    j=j+1

# for i_thr in [np.round(i,2) for i in np.arange(0.2,0.6,0.01)]:
#     print("Threshold:",i_thr,"Final F1 Score:", f1_score(pred_y, list(np.where(np.array(pred_x) < i_thr, 0, 1))))
pred_x = list(np.where(np.array(pred_x) < f1_threshold, 0, 1))
print("Final F1 Score:", f1_score(pred_y, pred_x))

final_prediction = pd.DataFrame(pred_test).T
final_prediction.columns = [("FOLD_"+str(i)) for i in range(final_prediction.shape[1])]

# vote = final_prediction.mean(axis=1)
vote = final_prediction.apply(lambda x: hmean(x), axis=1)
final_prediction[id_variable] = test_id.values
final_prediction['data_rate_t+1_trend'] = vote
print(final_prediction.shape)

train_pred_all = pd.DataFrame()
train_pred_all['data_rate_t+1_trend'] = pred_y
train_pred_all[f'model_{version_nb}'] = pred_x
final_prediction_xgb = final_prediction.copy()

display(final_prediction.head())
df_submission = final_prediction[[id_variable,'data_rate_t+1_trend']].copy()
df_submission.to_csv(f"xgb_{version_nb}_raw.csv", index = False)
df_submission['data_rate_t+1_trend'] = list(np.where(final_prediction['data_rate_t+1_trend'] < f1_threshold, 0, 1))
df_submission.to_csv(f"xgb_{version_nb}.csv", index = False)
display(df_submission.head())

all_features = feature_importance_df[["feature", "importance"]].groupby("feature").mean().sort_values(by="importance", ascending=False)
all_features.reset_index(inplace=True)
important_features = list(all_features[all_features['importance']!=0]['feature'])
display(all_features)
display(all_features.head(25))

final_prediction_xgb = final_prediction[['ID','data_rate_t+1_trend']].copy()

● Fold : 1
FOLD F1 Score: 0.7566265060240963


● Fold : 2
FOLD F1 Score: 0.7446300715990453


● Fold : 3
FOLD F1 Score: 0.7388384037929672


● Fold : 4
FOLD F1 Score: 0.7335884604062408


● Fold : 5
FOLD F1 Score: 0.7353219696969698


● Fold : 6
FOLD F1 Score: 0.7384309831181729


● Fold : 7
FOLD F1 Score: 0.7359380262714719


● Fold : 8
FOLD F1 Score: 0.7340724316334072


● Fold : 9
FOLD F1 Score: 0.7310935270463096


● Fold : 10
FOLD F1 Score: 0.732387762278748


Final F1 Score: 0.732387762278748
(1932, 12)

,FOLD_0,FOLD_1,FOLD_2,FOLD_3,FOLD_4,FOLD_5,FOLD_6,FOLD_7,FOLD_8,FOLD_9,ID,data_rate_t+1_trend
0,0.497593,0.721579,0.528996,0.585972,0.596939,0.801979,0.640208,0.696487,0.568335,0.719248,B0017-25_24,0.622579
1,0.237248,0.356387,0.329150,0.350187,0.297322,0.350733,0.437727,0.258415,0.452789,0.233364,B0017-25_25,0.314691
2,0.182087,0.175627,0.182607,0.285600,0.143860,0.109259,0.320204,0.149029,0.375049,0.096295,B0017-25_26,0.169058
3,0.822311,0.767061,0.800147,0.698830,0.783100,0.863469,0.677653,0.754737,0.583315,0.804186,B0017-25_27,0.746599
4,0.765862,0.825056,0.783522,0.659993,0.839853,0.918745,0.660225,0.759887,0.549962,0.866089,B0017-32_1,0.746721

            ID  data_rate_t+1_trend
0  B0017-25_24                    1
1  B0017-25_25                    0
2  B0017-25_26                    0
3  B0017-25_27                    1
4   B0017-32_1                    1

                             feature  importance
0                             TA_T-1    0.019940
1                     data_rate_mean    0.017592
2                      data_rate_T-1    0.017541
3                               hour    0.016154
4    resource_utilition_rate_min_T-1    0.012280
..                               ...         ...
183              fault_duration_T-72    0.003740
184              fault_duration_T+72    0.003606
185          access_success_rate_T+1    0.003490
186        endTime_T-3_hours_elapsed    0.002723
187        endTime_T-1_hours_elapsed    0.001562

[188 rows x 2 columns]

                             feature  importance
0                             TA_T-1    0.019940
1                     data_rate_mean    0.017592
2                      data_rate_T-1    0.017541
3                               hour    0.016154
4    resource_utilition_rate_min_T-1    0.012280
5                      data_rate_min    0.010674
6                            cqi_T-1    0.010165
7                           bler_T-1    0.010148
8                      data_rate_max    0.009596
9                      data_rate_T+1    0.009462
10                             month    0.009359
11                          hour_cos    0.009238
12                 data_rate_max_T-1    0.008734
13  resource_utilition_rate_mean_T-1    0.008569
14       resource_utilition_rate_T-1    0.008049
15                     data_rate_T+2    0.008049
16                           mcs_T-1    0.007989
17       resource_utilition_rate_max    0.007611
18      resource_utilition_rate_mean    0.007507
19                      relation_T+2    0.007410
20                          bler_min    0.007071
21                          hour_sin    0.006761
22                          cqi_mean    0.006690
23                data_rate_mean_T-1    0.006547
24                    data_rate_T-72    0.006541

In [31]:
for df in [final_prediction_lgb,final_prediction_cb,final_prediction_hgb,final_prediction_xgb]:
    print(df['data_rate_t+1_trend'].min(),df['data_rate_t+1_trend'].max())

0.05221897405297033 0.8799295251303357
0.053842158657757884 0.9191010043883217
0.03215152841104733 0.9093131899044056
0.045661876460280776 0.8725133157588937

In [32]:
#0.7287
df_local_cv = df_train_error_analysis_lgb.set_index(["ID","ACTUAL_TARGET"]).add_suffix("_LGB").join(df_train_error_analysis_xgb.set_index(["ID","ACTUAL_TARGET"]).add_suffix("_XGB")).join(df_train_error_analysis_cb.set_index(["ID","ACTUAL_TARGET"]).add_suffix("_CB")).join(df_train_error_analysis_hgb.set_index(["ID","ACTUAL_TARGET"]).add_suffix("_HGB"))
# vote = df_local_cv['PREDICTED_TARGET_LGB']*0.4+df_local_cv['PREDICTED_TARGET_XGB']*0.4+df_local_cv['PREDICTED_TARGET_HGB']*0.1+df_local_cv['PREDICTED_TARGET_CB']*0.1
vote = df_local_cv.apply(lambda x: hmean(x), axis=1)
df_local_cv['data_rate_t+1_trend'] = vote
df_local_cv['data_rate_t+1_trend'] = list(np.where(df_local_cv['data_rate_t+1_trend'] < f1_threshold, 0, 1))
df_local_cv = df_local_cv.reset_index()
f1_score(df_local_cv['ACTUAL_TARGET'],df_local_cv['data_rate_t+1_trend'])

0.7287593316743691

In [33]:
df_ensemble = final_prediction_lgb.set_index("ID").add_suffix("_LGB").join(final_prediction_cb.set_index("ID").add_suffix("_CB")).join(final_prediction_hgb.set_index("ID").add_suffix("_HGB")).join(final_prediction_xgb.set_index("ID").add_suffix("_XGB"))
display(df_ensemble.corr())
vote = df_ensemble.apply(lambda x: hmean(x), axis=1)
# vote = df_ensemble['data_rate_t+1_trend_LGB']*0.4+df_ensemble['data_rate_t+1_trend_XGB']*0.4+df_ensemble['data_rate_t+1_trend_HGB']*0.1+df_ensemble['data_rate_t+1_trend_CB']*0.1
df_ensemble['data_rate_t+1_trend'] = vote
df_ensemble = df_ensemble[['data_rate_t+1_trend']].copy()
df_ensemble_raw = df_ensemble.reset_index()
df_ensemble_raw.to_csv(f"ensemble_all_{version_nb}_{sc_pos_wt}_raw.csv", index = False)
df_ensemble['data_rate_t+1_trend'] = list(np.where(df_ensemble['data_rate_t+1_trend'] < f1_threshold, 0, 1))
df_ensemble = df_ensemble.reset_index()
df_ensemble.to_csv(f"ensemble_all_{version_nb}_{sc_pos_wt}.csv", index = False)

,data_rate_t+1_trend_LGB,data_rate_t+1_trend_CB,data_rate_t+1_trend_HGB,data_rate_t+1_trend_XGB
data_rate_t+1_trend_LGB,1.000000,0.947973,0.975179,0.988860
data_rate_t+1_trend_CB,0.947973,1.000000,0.923454,0.952705
data_rate_t+1_trend_HGB,0.975179,0.923454,1.000000,0.964834
data_rate_t+1_trend_XGB,0.988860,0.952705,0.964834,1.000000

In [34]:
df_ensemble['data_rate_t+1_trend'].value_counts(normalize=True)

1    0.692547
0    0.307453
Name: data_rate_t+1_trend, dtype: float64